{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^vue",
    "^@vitejs/plugin-vue",
    "^vuetify",
    "^@mdi/font/css/materialdesignicons.css",
    "^types",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderParser": "typescript",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
